#imagePreview {
    height: 512px;
}

body {
    margin: 0;
    background: #3a3a3a
}

.back-color-yellow {
    background: #ffc107;
}

.back-color-gray {
    background: #505050;
}

.label-input {
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 180px;
    margin: 10px;
    box-shadow: 1px 1px 10px -4px #3a3a30;

}
.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.font-style {
    color: white;
    font-family: "Verdana", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}

.font-style-title {
    color: white;
    font-family: "Verdana", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:40px;
    font-variant: small-caps;
}

.font-style-dark {
    color: #3a3a3a;
    font-family: "Verdana", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-variant: small-caps;
}
.header {
    background: #2c2c2c;
    height: 100px;
    font-size: 35px;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.space-sm {
    padding: 10px;
}

.space-me {
    padding: 30px;
}

.space-xl {
    padding: 100px;
}

.flex-column {
    flex-direction: column;
}

.upload-button:hover {
    background-color: #ffc1078c;
}

.choose-file-button:hover {
    background-color: gray;
}
